<nav>
  <mat-toolbar color="primary">
    <a _ngcontent-c1="" aria-label="NPV Calculator" class="docs-button mat-button" mat-button="" routerlink="/"
       tabindex="0" aria-disabled="false" href="/">
      <span class="mat-button-wrapper">
        <span _ngcontent-c1="">
          NPV Calculator
        </span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button=""
       tabindex="0" aria-disabled="false" href="/calculator">
      <span class="mat-button-wrapper">Calculator</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>

    <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button=""
       tabindex="0" aria-disabled="false" href="/history">
      <span class="mat-button-wrapper">History</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </mat-toolbar>
</nav>